@font-face {
  font-family: "iconfont"; /* Project id 3372761 */
  src: url('iconfont.woff2?t=1652116740196') format('woff2'),
       url('iconfont.woff?t=1652116740196') format('woff'),
       url('iconfont.ttf?t=1652116740196') format('truetype'),
       url('iconfont.svg?t=1652116740196#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jianshu:before {
  content: "\ffd2";
}

.icon-blog:before {
  content: "\ffd3";
}

.icon-toutiao:before {
  content: "\ffd4";
}

.icon-auto:before {
  content: "\ffd5";
}

.icon-light:before {
  content: "\ffd6";
}

.icon-dark:before {
  content: "\ffd7";
}

.icon-menu-arrow:before {
  content: "\ffd8";
}

.icon-language:before {
  content: "\ffd9";
}

.icon-timeLine:before {
  content: "\ffda";
}

.icon-eye1:before {
  content: "\ffdb";
}

.icon-account:before {
  content: "\ffdc";
}

.icon-copyright:before {
  content: "\ffdd";
}

.icon-home:before {
  content: "\ffde";
}

.icon-docs:before {
  content: "\ffdf";
}

.icon-FAQ:before {
  content: "\ffe0";
}

.icon-github:before {
  content: "\ffe1";
}

.icon-friend:before {
  content: "\ffe2";
}

.icon-eye:before {
  content: "\ffe3";
}

.icon-notice:before {
  content: "\ffe4";
}

.icon-linkedin:before {
  content: "\ffe5";
}

.icon-email:before {
  content: "\ffe6";
}

.icon-lock:before {
  content: "\ffe7";
}

.icon-douban:before {
  content: "\ffe8";
}

.icon-menu:before {
  content: "\ffe9";
}

.icon-npm:before {
  content: "\ffea";
}

.icon-message:before {
  content: "\ffeb";
}

.icon-suggestion:before {
  content: "\ffec";
}

.icon-douyin:before {
  content: "\ffed";
}

.icon-gitlab:before {
  content: "\ffee";
}

.icon-QQ:before {
  content: "\ffef";
}

.icon-bilibili:before {
  content: "\ff00";
}

.icon-bokeyuan:before {
  content: "\ff01";
}

.icon-weibo:before {
  content: "\ff02";
}

.icon-category:before {
  content: "\ff03";
}

.icon-zhihu:before {
  content: "\ff04";
}

.icon-date:before {
  content: "\ff05";
}

.icon-taobao:before {
  content: "\ff06";
}

.icon-theme:before {
  content: "\ff07";
}

.icon-gitee:before {
  content: "\ff08";
}

.icon-tag:before {
  content: "\fff9";
}

.icon-csdn:before {
  content: "\fffa";
}

.icon-beian:before {
  content: "\fffb";
}

.icon-facebook:before {
  content: "\fffc";
}

.icon-search:before {
  content: "\fffd";
}

.icon-zhiding:before {
  content: "\fffe";
}

.icon-tools:before {
  content: "\ffff";
}

